* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}

body {
  background-color: hsl(204, 43%, 93%);
  margin: 120px 300px;
}

h1 {
  font-weight: 700;
  font-size: 1.7em;
  color: hsl(179, 62%, 43%);
  padding-bottom: 30px;
}

h2 {
  font-weight: 400;
  font-size: 1.4em;
  color: hsl(71, 73%, 54%);
  padding-bottom: 20px;
}

h3 {
  font-weight: 400;
  font-size: 1.3em;
  color: hsl(218, 22%, 67%);
  padding-bottom: 20px;
  line-height: 24pt;
}

.content1-h2 {
  color: #fff;
  font-size: 1.5em;
}

.money {
  display: inline;
  font-size: 3.4em;
}

.month {
  display: inline;
  vertical-align: super;
}

.content1-h3 {
  color: #fff;
  font-size: 1.3em;
}

.sign-up {
  padding: 20px 120px;
  background-color: hsl(71, 73%, 54%);
  border: none;
  border-radius: 10px;
}

.btn-signup {
  text-align: center;
}

.row {
  width: 100%;
}

.main {
  background-color: #fff;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;:
}

.content1 {
  color: #fff;
  padding: 20px;
  background-color: hsl(179, 62%, 43%);
}

.content2 {
  padding: 20px;
  background-color: hsl(179, 62%, 43%);
  opacity: 0.8;
  border-bottom-right-radius: 10px;
}



/********** Desktop View **********/
@media (min-width: 1350px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }

  .content1 {
    border-bottom-left-radius: 10px;
  }
}

/********** Mobile View **********/
@media (min-width: 375px) and (max-width: 1349px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-12 {
    width: 100%;
  }

  body {
    margin: 75px 50px;
  }

  .content2 {
    margin-bottom: 75px;
    border-bottom-left-radius: 10px;
  }



}
